@import "tailwindcss/theme.css";

#gbt-ui-app {
	@import "tailwindcss/preflight.css" layer(base);
	@import "tailwindcss/utilities.css";
}

@layer base {
	#gbt-ui-app {
		background-color: var(--background);
		color: var(--foreground);
		font-family: var(--font-sans);
		
		& * {
			border-color: var(--border);
		}
	}
}