@import "tailwindcss/theme.css";

#gbt-ui-app {
	@import "tailwindcss/preflight.css" layer(base);
	@import "tailwindcss/utilities.css";

	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
	& * {
		border-color: hsl(var(--border));
	}
}